/* Section Heading */
.section-heading {
}

/* Articles */
.article-hr {
  margin-bottom: 0;
}

.articles {
  max-height: 225px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.articles article {
  flex-basis: 33.33%;
  margin-top: 1em;
}

/* Events */
.event-hr {
  margin-bottom: 0;
}
.events {
  max-height: 225px;
  flex-wrap: wrap;
  overflow-y: auto;
}
.events article {
  flex-basis: 33.33%;
  margin-top: 1em;
}

.events article:first-child {
  transform: scale(1);
  background-color: #efe;
  margin-right: 1em;
  flex-basis: 33%;
  justify-content: center;
  align-items: center;
}

.events article:first-child h4 {
  font-weight: 900;
}

/* Remove border radius from the center input */

#task-expectedFinish {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#message-list {
  overflow-y: auto;
  max-height: 225px;
}

/* Scroll feature for task list container */
#task-list {
  overflow-y: auto;
  max-height: 225px;
}

/* Edit button for each task */
i[id*="editTask"]:hover {
  cursor: pointer;
  color: blue;
}

input[id*="completed"]:hover {
  outline: 1px solid blue;
}

input[id="task-name"]:focus,
input[id="task-expectedFinish"]:focus {
  outline: 1px solid blue;
}

/* Edit button for each chat message */
i[id*="editMessage"]:hover {
  cursor: pointer;
  color: orange;
}

input[id="message-text"]:focus {
  outline: 1px solid orange;
}
